<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Catalog</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="712697227714-82l7i402jl1uqhr2gqr37iok2ib25io4.apps.googleusercontent.com">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
			{%if 'username' not in session %}
				<a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
  
			{% else %}
				
        <p class="blog-header-text">Welcome {{ session['username']}}</p>

        <a href="{{ url_for('disconnect')}}" class="btn btn-primary">Logout</a>
        <a href="{{ url_for('add_item')}}" class="btn btn-primary">Create Item</a>
			{% endif %}
        </nav>
      </div>
    </div>
    <div class="container" id="messages">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Categorize</h1>
        <p class="lead blog-description">A list of items in various categories.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">{% block title %}{% endblock %}</h2>
            {% block body %}{% endblock %}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Categories</h4>
            <ul>
              {% for category in categories %}
                <li><a href="{{url_for('view_category', category = category['id']) }}">{{category['name']}}</a></li>
              {% endfor %}
            </ul>
          </div>
          
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Built by Daniel Blignaut (@danielblignaut)</p>
    </footer>
    {% block javascript %}{% endblock %}

   
  </body>
</html>
